@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather";
    color: black;
    transition: 250ms ease-in-out;
}

h1{
    font-weight: 300;
}

h2{
    font-size: medium;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}

h5
{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: .95rem;
    color: rgb(61, 61, 61);
}

p{
    font-family: monospace;
}

.selectedproject h5
{
    color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.innerbody{
    height: 99%;
    width: 98%;
    gap: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.midder{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projectcontroller{
    min-height: 100%;
    max-height: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1dvw;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.projectcontroller div{
    transition: 150ms;
    padding: 1%;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px;
    border-radius: 10px;
    
}

h5{
    caret-color: transparent;
}

strong{
    color: rgb(117, 0, 0);
}

a{

    color: rgb(117, 0, 0);
    text-decoration: none;
    outline: none;
}

.projectcontroller div:hover{
 margin-left: 10px;
    
}


.projector{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: rgb(66, 66, 66);
    font-family: "Montserrat";
    font-weight: 550;
    border-radius: 12px;
}
button:hover
{
    color: black;
}





/* animation for image spawn */

@keyframes imagespawn {
    from {margin-top: 10%;opacity: 0;}
    to {margin-top: 0%;opacity: 100;}
}

#currentlyselectedpreview{
    animation: imagespawn 250ms ease-in-out;
}

h2{
    animation: imagespawn 250ms ease-in-out;
}

#viewbox{
    transition: 1s;
}


@media screen and (orientation: portrait) {
    .projector{
        visibility: collapse;
    }
    .projectcontroller{
        width: 100%;
    }

    h1{
        font-size: medium;
    }

    h5{
        font-size: small;
    }

}


