@charset "UTF-8";
/* CSS Document */

body {
	background-color: #121212;
	color: white;
	font-family: monospace;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #3399FF;
}

a::selection {
	color: #3399FF;	
}

::selection {
	background-color: rgba(0,0,0,0);
	color: #3399FF;
}

.nostyle {
	text-decoration: none;
	color:black;
}
